<!DOCTYPE html>
<html lang="en">
<head>
    <title>My gallery</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header>
        <h1>My gallery</h1>
    </header>
    <main>
            <section id="gallery">
              <div class="polaroid" v-for="image in images">
                <a v-bind:href="'imgs/'+image" target="_blank">
                    <figure>
                        <img v-bind:src="'imgs/'+image"/>
                            <figcaption>
                                <em>{{ image }}</em>
                            </figcaption>
                    </figure>
                </a>
            </div>
            </section>
        </article>
    </main>
    <footer>
        Made by *Your Name*</a>
    </footer>
</body>
<script>
    const { createApp } = Vue
  
    createApp({
      data() {
        return {
          images: ["image1.jpg","image2.jpg","image3.jpg","tomoko-uji-38afJMG_hS0-unsplash.jpg","tomoko-uji-4di77O4iA-8-unsplash.jpg","tomoko-uji-dtSHEvHhVz0-unsplash.jpg","tomoko-uji-eriuKJwcdjI-unsplash.jpg","tomoko-uji - EzXESbeX6U-unsplash.jpg","tomoko-uji-haoylUKjUOY-unsplash.jpg","tomoko-uji-HEl7dQ7thFg-unsplash.jpg","tomoko-uji-hWtWfIWNDys-unsplash.jpg","tomoko-uji-IbhHaSeumEM-unsplash.jpg","tomoko-uji-jGHVjPJM_x0-unsplash.jpg","tomoko-uji-Jxt9g4uIkIw-unsplash.jpg","tomoko-uji-kML5H3G7jqQ-unsplash.jpg","tomoko-uji-kxvn1ogpTtE-unsplash.jpg","tomoko-uji-lO4H2oujMPs-unsplash.jpg","tomoko-uji-LYMmLczD6a8-unsplash.jpg","tomoko-uji-nmq7nyZ3FjY-unsplash.jpg","tomoko-uji-Om0t52bxlTA-unsplash.jpg","tomoko-uji-Oq6Mdb4o6vA-unsplash.jpg","tomoko-uji-PD4ODCXz4gI-unsplash.jpg","tomoko-uji-rCJGFHCV3oQ-unsplash.jpg","tomoko-uji-rSobVocDKFs-unsplash.jpg","tomoko-uji-SP781ruayXY-unsplash.jpg","tomoko-uji-SSRuFe9Vmhc-unsplash.jpg","tomoko-uji-SYAyqm6ffDs-unsplash.jpg","tomoko-uji-TcgUW5I3wQI-unsplash.jpg","tomoko-uji-up_IHPsJvSI-unsplash.jpg","tomoko-uji-v4bkVOl1sTI-unsplash (1).jpg","tomoko-uji-v4bkVOl1sTI-unsplash.jpg","tomoko-uji-VzNj6FqMKGA-unsplash.jpg","tomoko-uji-Xf8W44bDJy8-unsplash.jpg","tomoko-uji-yCD7QuYiw5c-unsplash.jpg","tomoko-uji-Zb4OwWU-5MA-unsplash.jpg"]
        }
      }
    }).mount('#gallery')
  </script>
</html>